node_modules
**/node_modules
dist
**/dist
!apps/worker/dist
!apps/worker/dist/main.js
.turbo
**/.turbo
*.log
.env
.env.*
.git
**/*.spec.ts
**/*.test.ts
apps/web
apps/server/generated
apps/server/dev.db
